hr{
	border: 3px solid black;
}

.form-field{
	width: 200px;
	margin-right: 250px;
	margin-bottom: 20px;
}

#addDataForm{
	width: 90vw;
	word-wrap: break-word;
}

.table-container{
	max-width: 1150px;
	max-height: 270px;
	overflow-x: scroll;
	overflow-y: scroll;
	margin-bottom: 10px;
}
